{% extends 'office_info/base_template.html' %}
{% block content %}
    {% load static %}


<div class="container">
    <div class="row text-center" >
        <div class="card" >
            <h5 class="card-header">{{ office.title }} Office</h5>
            <div class="card-body">
                <h5 class="card-title"></h5>
                <img class="card-img-top" src="{{ office.image.url }}" alt="Card image cap">
                <p class="card-text">
                    <h6>Address</h6>
                    {{ office.address_line_1 }}<br>
                    {{ office.address_line_2 }}<br>
                    {{ office.address_line_3 }}<br>
                    {{ office.postal_zip_code }}<br>
                    Phone : {{ office.phone }} 
                </p>
                <p class="card-text"><small class="text-muted">
                    {{ office.weather }}
                    {% for k in office.weather %}
                    {{ k }}
                {% endfor %}
                </p>
                <a href="{% url 'home' %}" class="btn btn-primary">Home</a>
            </div>
            </div>  
    </div>
</div>

{% endblock %}

